#login .login-header {
  background: #fff;
}
#login .login-header .logo {
  margin: 70px 121px 0px;
}
#login .el-main {
  min-height: calc(100vh);
  background: url("../image/background.jpg") !important;
  background-repeat: repeat-x;
  background-size: 100% 100%;
}
#login .el-main .main {
  width: 290px;
  background: #fff;
  text-align: center;
  padding: 6px 25px;
  margin: 100px 0 0 60%;
}
#login .el-main .main .main-title {
  height: 60px;
  line-height: 60px;
  padding-top: 5px;
  vertical-align: bottom;
  text-align: left;
  color: #333333;
  background-color: white;
  font-size: 17px;
  text-indent: 25px;
}
#login .el-main .main-foot {
  position: relative;
  bottom: 20px;
  margin-left: 11%;
  margin-top: 200px;
}
#login .el-main .main-foot ul li {
  float: left;
  margin-right: 20px;
  font-size: 14px;
}
